body{
    background-image: linear-gradient(125deg, indigo,darkcyan, darkcyan, indigo );
}

.header-div{
    background-color: indigo;
    border-radius: 10px;
    border: solid rgb(192, 158, 8) 1px;
    margin-right: 20px;
    margin-left: 3px;
}

img{
    max-height: 80px;
    max-width: 100px;
    margin-left: 10px;
}

span{
    border: solid 3px rgb(192, 158, 8);
    padding: 7px;
    border-radius: 7px;
}

div{
    border: solid 3px indigo;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 7px;
}

.total-bidders{
    font-size: 25px;
    color: aqua;
}