body{
    background-image: linear-gradient(125deg, indigo,darkcyan, darkcyan, indigo );
}

.header-div{
    background-color: indigo;
    border-radius: 10px;
    border: solid rgb(192, 158, 8) 1px;
    margin-right: 20px;
    margin-left: 3px;
}

img{
    max-height: 100px;
    max-width: 100px;
    margin-left: 10px;
}

span{
    border: solid 7px rgb(192, 158, 8);
    padding: 7px;
    border-radius: 10px;
}

div{
    border: solid 3px indigo;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 7px;
    background-color: silver;
}

button{
    background-color: aqua;
    border-radius: 7px;
}

button:hover{
    background-color: rgb(192, 158, 8);
    cursor: pointer;
    color: red;
}

a{
    text-decoration: none;
    color: black;
}

.total-bidders{
    font-size: 25px;
}