body{
    background-image: linear-gradient(125deg, indigo,darkcyan, darkcyan, indigo );
}

.header-div{
    background-color: indigo;
    border-radius: 10px;
    border: solid rgb(192, 158, 8) 1px;
    margin-right: 20px;
    margin-left: 3px;
}

img{
    max-height: 100px;
    max-width: 100px;
    margin-left: 10px;
}

.user-div{
    margin: auto;
    width: 50%; 
}

.review-div{
    background-color: bisque;
    padding-left: 12px;
    border-radius: 10px;
}