body{
    background-color:darkcyan;
    min-height: 100vh;
    min-width: 100vw;
    margin-right: 10px;
}

span{
    color: darkcyan;
}

a{
    color: rgb(192, 158, 8);
    text-decoration: none;

}

ul{
    display: inline-flex;
    list-style: none;
}

ul li{
    border-bottom: 3px solid indigo;
    margin:15px;
    padding: 15px;
}
.header-div{
    background-color:indigo;
    border: solid rgb(192, 158, 8) 1px;
    border-radius: 10px;
    margin-right: 20px;
}

.header-div1 > button{
    background-color: indigo;
    border: solid 1px rgb(192, 158, 8);
    border-radius: 7px;
    position: relative;
    left: 83%;
}

.header-div1 > button > .header-button{
    color: darkcyan;
}

header > button{
    background-color: darkcyan;
    border-radius: indigo 3px solid;
}
.sub-menu{
    display: none;

}
ul li:hover .sub-menu {
    display: block;
    position: absolute;
    margin-left: -30px;
    background: rgb(192, 158, 8);
    margin-top: 15px;
}
    
.sub-menu1{
    display: none;
}

ul li:hover .sub-menu ul li:hover .sub-menu1{
    display: block;
}

nav{
    background-color: indigo;
    justify-content: space-between;
    padding-left: 100px;
}

.footer-parag{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.home-footer{
    position: sticky;
    top: 100%;
    margin-left: 260px;
}
header > ul > a{
    color: black;
}

